* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 218, 202);
    font-family: American Typewriter, serif;
}

header {
    padding: 40px;
    background-color: #37476d;
}

footer {
    background-color: #37476d;
}

header *,
footer * {
    background-color: #37476d;
}

/* Styling for footer logos */
.logo-list * {
    list-style: none;
    max-width: 50px;
    max-height: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.project-list * {
    list-style: none;
}

/* Manages the size of screenshot pictures */
.project-screenshot {
    max-width: auto;
    max-height: 350px;
}

.project-screenshot:hover {
    filter: contrast(30%) brightness(150%);
    transition: filter 0.3s ease;
}

.project-github-link-image {
    max-height: 50px;
    max-width: auto;
}