* {
    box-sizing: border-box;
    background-color: rgb(230, 218, 202);
    font-family: American Typewriter, serif;
}

header {
    padding: 40px;
    background-color: #37476d;
}

footer {
    background-color: #37476d;
}

header *,
footer * {
    background-color: #37476d;
}

/* Styling for footer logos */
.logo-list * {
    list-style: none;
    max-width: 50px;
    max-height: auto;
    margin-right: 20px;
    margin-top: 10px;
}

/* Removes bullet points */
.project-list * {
    list-style: none;
    overflow: hidden;
}

/* Manages the size of screenshot pictures */
.project-screenshot {
    width: 70%;
    height: auto;
}

/* Keeps github repo link image for individual projects from being too large */
.project-github-link-image {
    max-height: 50px;
    max-width: auto;
}

.project-links-div * {
    margin: 5px
}
.form-div {
    margin-right: 20px;
}

.contact-form input{
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.message-input {
    overflow-x: auto;
    overflow-y: auto;
    vertical-align: top;
}

.contact-form button {
    background-color: #6785cc;
}

/* Sizing for profile picture on About page */
.profile-picture {
    max-width: 300px;
    max-height: auto;
    border: solid; color: #3A445D;
    border-radius: 20%;
    border-width: 10px;
}

/* Centers About me picture div */
.about-me-picutre {
    align-self: center;
}

.about-me {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px
}

.about-subheader {
    margin-bottom: 20px;
}

/* Centers text on About page */
.about-me p {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.about-me-text {
    align-self: center;
}

.resume {
    margin-right: 20px;
}

.resume h4{
    margin-top: 20px;
}
.download-resume {
    font-size: larger;
}

.front-end-list,
.back-end-list {
    font-size: larger;
}

.main {
    height: 100vh
}
