* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 218, 202);
    font-family: American Typewriter, serif;
}

header {
    padding: 40px;
    background-color: #37476d;
}

footer {
    background-color: #37476d;
}

header *,
footer * {
    background-color: #37476d;
}

/* Styling for footer logos */
.logo-list * {
    list-style: none;
    max-width: 50px;
    max-height: auto;
    margin-right: 20px;
    margin-top: 10px;
}

/* Removes bullet points */
.project-list * {
    list-style: none;
    overflow: hidden;
}

/* Manages the size of screenshot pictures */
.project-screenshot {
    width: 100%;
    height: 100%;
}


/* Greys out screenshot for links to be visible */
.project-screenshot:hover {
    filter: contrast(30%) brightness(150%);
    transition: filter 0.3s ease;
}

/* Keeps github repo link image for individual projects from being too large */
.project-github-link-image {
    max-height: 50px;
    max-width: auto;
}

/* Initially hides links */
.project-li a {
    visibility: hidden;
    position: relative;
    top: 50%;
    left: 30%;

}

/* Displays link when appropriate screenshot is hovered */
.project-li:hover a {
    visibility: visible;
    transition: opacity 0.3s ease;
}

.form-div {
    margin-right: 20px;
}

.contact-form input{
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.message-input {
    height: 300px
}

.contact-form button {
    background-color: #6785cc;
}

